# Required
DISCORD_TOKEN=your_discord_bot_token_here

DEEPL_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=

GUILD_ID=
SOURCE_CHANNEL_IDS=
OUTPUT_CHANNEL_ID=
ENGLISH_ROLE_ID=
VOICE_CHANNEL_ID=

TARGET_LANG=EN-US
SOURCE_LANG=NL
AUTO_TRANSLATE=true
PING_ENGLISH_ROLE=false
SPEAK_TRANSLATIONS=true
MIN_CHARS=3
COOLDOWN_SECONDS=1.5
EDGE_TTS_VOICE=en-US-JennyNeural
